:root {
    --red: rgb(255, 0, 0);
    --green: rgb(173, 255, 47);
    --purple: rgb(150, 0, 255);
    --gold: rgb(255, 215, 0);
    --blue: rgb(0, 100, 255);
  }
  body {
    color:white;
    background-color: rgb(50, 50,50);
  }